<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 105.4 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1142923 sha256=e741080eb252b4fc157a8100fbb8d45d1760c93567fc327c31e9c39f61607851
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.34-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.34-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 101.5 MB/s eta 0:00:00
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 4.9 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.34 sqlparse-0.5.1

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
# df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [31]:
%sql SELECT DISTINCT "Launch_Site" 
%sql FROM SPACEXTABLE;

# Executing the SQL query to get the unique launch sites
%sql result = %sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;
%sql result

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [32]:
%sql SELECT *
%sql FROM SPACEXTABLE
%sql WHERE "Launch_Site" LIKE 'CCA%'
%sql LIMIT 5;

# Executing the SQL query to get 5 records where the launch site begins with 'CCA'
%sql result = %sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;
%sql result

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no tables specified
[SQL: SELECT *]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Launch_Site" LIKE 'CCA%']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "LIMIT": syntax error
[SQL: LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [33]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass
%sql FROM SPACEXTABLE
%sql WHERE "Mission_Outcome" LIKE '%NASA (CRS)%';

%sql result = %sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Mission_Outcome" LIKE '%NASA (CRS)%';
%sql result

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Mission_Outcome" LIKE '%NASA (CRS)%' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Mission_Outcome" LIKE '%NASA (CRS)%' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [34]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass
%sql FROM SPACEXTABLE
%sql WHERE "Booster_Version" = 'F9 v1.1';

# Run the SQL query to calculate the average payload mass carried by F9 v1.1 boosters
%sql result = %sql SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster_Version" = 'F9 v1.1';

# Display the result
%sql result

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Booster_Version" = 'F9 v1.1' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster_Version" = 'F9 v1.1' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [36]:
%sql SELECT MIN("Date") AS First_Successful_Landing
%sql FROM SPACEXTABLE
%sql WHERE "Landing_Outcome" = 'Success (ground pad)';

# Run the SQL query to find the date of the first successful ground pad landing
%sql result = %sql SELECT MIN("Date") AS First_Successful_Landing FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Landing_Outcome" = 'Success (ground pad)' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT MIN("Date") AS First_Successful_Landing FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (ground pad)' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
%sql SELECT "Booster_Version"
%sql FROM SPACEXTABLE
%sql WHERE "Landing_Outcome" = 'Success (drone ship)'
%sql AND "PAYLOAD_MASS__KG_" > 4000 
%sql AND "PAYLOAD_MASS__KG_" < 6000;

# Run the SQL query to list booster names with success on drone ship and payload mass between 4000 and 6000 kg
%sql result = %sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (drone ship)' AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Landing_Outcome" = 'Success (drone ship)']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "AND": syntax error
[SQL: AND "PAYLOAD_MASS__KG_" > 4000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "AND": syntax error
[SQL: AND "PAYLOAD_MASS__KG_" < 6000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (drone ship)' AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 7




##### List the total number of successful and failure mission outcomes

In [39]:
%sql SELECT "Mission_Outcome", COUNT(*) AS Total_Count
%sql FROM SPACEXTABLE
%sql GROUP BY "Mission_Outcome";

# Run the SQL query to count the total number of successful and failed mission outcomes
%sql result = %sql SELECT "Mission_Outcome", COUNT(*) AS Total_Count FROM SPACEXTABLE GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "GROUP": syntax error
[SQL: GROUP BY "Mission_Outcome" ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT "Mission_Outcome" , COUNT(*) AS Total_Count FROM SPACEXTABLE GROUP BY "Mission_Outcome" ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [43]:
%sql SELECT "Booster_Version"
%sql FROM SPACEXTABLE
%sql WHERE "PAYLOAD_MASS__KG_" = (
%sql SELECT MAX("PAYLOAD_MASS__KG_")
%sql    FROM SPACEXTABLE
%sql );

# Run the SQL query to list the names of the booster versions that have carried the maximum payload mass
%sql result = %sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);

%sql # Display the result
result

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "PAYLOAD_MASS__KG_" = (]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near ")": syntax error
[SQL: );]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Display the result]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

NameError: name 'result' is not defined

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [42]:
%sql SELECT 
 %sql    CASE substr("Date", 6, 2)
  %sql       WHEN '01' THEN 'January'
  %sql       WHEN '02' THEN 'February'
 %sql        WHEN '03' THEN 'March'
 %sql        WHEN '04' THEN 'April'
  %sql       WHEN '05' THEN 'May'
  %sql       WHEN '06' THEN 'June'
 %sql        WHEN '07' THEN 'July'
 %sql        WHEN '08' THEN 'August'
 %sql        WHEN '09' THEN 'September'
 %sql        WHEN '10' THEN 'October'
 %sql        WHEN '11' THEN 'November'
 %sql        WHEN '12' THEN 'December'
%sql     END AS Month_Name,
 %sql    "Landing_Outcome",
 %sql    "Booster_Version",
 %sql    "Launch_Site"
%sql FROM SPACEXTABLE
%sql WHERE "Landing_Outcome" = 'Failure (drone ship)'
%sql AND substr("Date", 1, 4) = '2015';

# Run the SQL query to list records with month names, failure landing outcomes in drone ship, booster versions, and launch sites for 2015
%sql result = %sql SELECT \
%sql     CASE substr("Date", 6, 2) \
%sql         WHEN '01' THEN 'January' \
%sql         WHEN '02' THEN 'February' \
%sql         WHEN '03' THEN 'March' \
 %sql        WHEN '04' THEN 'April' \
%sql         WHEN '05' THEN 'May' \
 %sql        WHEN '06' THEN 'June' \
 %sql        WHEN '07' THEN 'July' \
%sql         WHEN '08' THEN 'August' \
%sql         WHEN '09' THEN 'September' \
%sql         WHEN '10' THEN 'October' \
 %sql        WHEN '11' THEN 'November' \
 %sql        WHEN '12' THEN 'December' \
 %sql    END AS Month_Name, \
%sql     "Landing_Outcome", \
%sql     "Booster_Version", \
%sql     "Launch_Site" \
%sql FROM SPACEXTABLE \
%sql WHERE "Landing_Outcome" = 'Failure (drone ship)' \
%sql AND substr("Date", 1, 4) = '2015';

# Display the result
%sql result

IndentationError: unexpected indent (3903220683.py, line 2)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [44]:
%sql SELECT "Landing_Outcome", COUNT(*) AS Count
%sql FROM SPACEXTABLE
%sql WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
%sql GROUP BY "Landing_Outcome"
%sql ORDER BY Count DESC;

# Run the SQL query to rank the count of landing outcomes between the specified dates
%sql result = %sql SELECT "Landing_Outcome", COUNT(*) AS Count \
%sql FROM SPACEXTABLE \
%sql WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' \
%sql GROUP BY "Landing_Outcome" \
%sql ORDER BY Count DESC;

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM SPACEXTABLE]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "GROUP": syntax error
[SQL: GROUP BY "Landing_Outcome"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "ORDER": syntax error
[SQL: ORDER BY Count DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "result": syntax error
[SQL: result = %sql SELECT "Landing_Outcome" , COUNT(*) AS Count %sql FROM SPACEXTABLE %sql WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' %sql GROUP BY "Landing_Outcome" %sql ORDER BY Count DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>